<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/header/header.css">
    <link rel="stylesheet" href="../css/footer/footer.css">
    <link rel="stylesheet" href="../css/case-css/caseTwo.css">
    <title>Caso 3 - Inicia el viaje</title>
</head>
<body>
    <header class="header">
        <div class="header-logo">
            <a class="logo-link" href="../index.html">El viaje de Macondo</a>
        </div>
        <nav class="header-nav">
            <ul class="nav-list">
                <li class="list-item">
                    <a href="../index.html" class="item-link">Inicio</a>
                </li>

                <li class="list-item">
                    <a href="" class="item-link">Sobre mí</a>
                </li>

                <li class="list-item">
                    <a href="" class="item-link">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <section class="main-section">
            <div class="section-title">
                <h1 class="title">Red binaria a Caracteres</h1>
                <p class="title-paragraph" id="paragraph-one"></p>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-content">
            <p class="content-paragraph">josesiprozmaster@gmail.com</p>
        </div>
    </footer>
    
    <script src="../js/caseThree.js"></script>
</body>
</html>