<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/header/header.css">
    <link rel="stylesheet" href="../css/case-css/caseOne.css">
    <link rel="stylesheet" href="../css/case-css/modal.css">
    <link rel="stylesheet" href="../css/footer/footer.css">
    <title>Caso 1 - Inicia el viaje</title>
</head>
<body>
    <header class="header">
        <div class="header-logo">
            <a class="logo-link" href="../index.html">El viaje de Macondo</a>
        </div>
        <nav class="header-nav">
            <ul class="nav-list">
                <li class="list-item">
                    <a href="" class="item-link">Inicio</a>
                </li>

                <li class="list-item">
                    <a href="" class="item-link">Sobre mí</a>
                </li>

                <li class="list-item">
                    <a href="" class="item-link">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>   
    <main class="main">
        <section class="main-section-first">
            <div class="first-title">
                <h2 class="title">Inicia el viaje...</h2>
                <h5 class="title-small">Selecciona aceptar y avanza en el programa</h5>
            </div>
            <div class="first-content">
                <div class="first-circle">
                    <div class="circle-content">
                        <img class="content-image" id="icon-fly" src="../assets/icon-fly.png" alt="icon-fly">
                    </div>
                </div>
                <div class="first-circle">
                </div>
                <div class="first-circle">
                </div>
                <div class="first-circle">
                </div>
                <div class="first-circle">
                </div>
            </div>
            <div class="first-message">
                <p class="message" id="message">dasd</p>
                <p class="message-two" id="message-two"></p>
            </div>
        </section>
        <section class="main-modal" id="main-modal">
            <h2 class="modal-title">Productos disponibles</h2>
            <p class="modal-paragraph" id="modal-paragraph"></p>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-content">
            <p class="content-paragraph">josesiprozmaster@gmail.com</p>
        </div>
    </footer>
    <script src="../js/caseOne.js" type="module"></script>
</body>
</html>