@font-face {
    font-family: "myFont";
    src: url(../assets/GILROY/Gilroy-Medium.ttf);
}
:root{
    --space-small: 10px;
    --space-small-big: 20px;
    --space-big: 30px;
    --border-radius-small: 10px;
    --border: rgb(194, 194, 194);
    --fontfamily: "myFont";
    --background-main: rgb(255, 188, 44);
}
html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
    font-family: var(--fontfamily);
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}