main.main>section.main-section-first{
    display: flex;
    justify-content: center;
    gap: var(--space-small-big);
    margin-top: var(--space-big);
}

main.main>section.main-section-first>article.first-article{
    border: 1px solid var(--border);
    border-radius: var(--border-radius-small);
}

main.main>section.main-section-first>article.first-article>div.article-header{
    width: 100%;
}

main.main>section.main-section-first>article.first-article>div.article-header>img.header-image{
    width: 100%;
    display: block;
    border-radius: var(--border-radius-small);
}

main.main>section.main-section-first>article.first-article>div.article-body{
    padding: var(--space-small);
}

main.main>section.main-section-first>article.first-article>div.article-footer{
    width: 100%;
}

main.main>section.main-section-first>article.first-article>div.article-footer>button.footer-button{
    width: 100%;
    border: none;
    padding: var(--space-small);
    border-bottom-left-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
}